@use '../../../../../styles/mixins/breakpoints' as *;

.app-user-form {
  &__row {
    display: flex;
    flex-direction: column;
    gap: 0 var(--spacing-md);

    @include respond-to(tablet) {
      flex-direction: row;

      .app-user-form__col {
        flex: 1;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: var(--spacing-sm);
    margin-top: var(--spacing-md);
  }
}
